* {
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
}

:root {
    --background-color: white;
    --color: black;
}

html {
    font-size: 32px;
    font-family: 'Inria Serif', 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    background-color: var(--background-color);
}

h1 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    color: var(--color);
}

i {
    font-size: 0.65rem;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: bold;
    user-select: none;
    color: var(--background-color);
}

h2 {
    font-size: 0.75rem;
}

h3 {
    font-size: 0.65rem;
    margin: 0;
    padding: 0;
}

header {
    padding: 2%;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    height: 15%;
    position: fixed;
    justify-content: space-between;
    background-color: var(--background-color);
}

header h1 {
    padding: 0;
    margin: 0;
}

a {
    color: var(--color);
    text-decoration: none;
}

.nav {
    display:flex;
    width: 40%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.switch {
    width: 60px;
    height: 27.5px;
    border: 1px solid var(--color);
    box-sizing: border-box;
    border-radius: 40px;
    display: flex;
    align-items: center;
    position: relative;
}

#circle {
    position: absolute;
    left: 10%;
    border-radius: 100%;
    width: 28.5%;
    height: 60%;
    box-sizing: border-box;
    border: 1px solid var(--color);
    transition: transform 0.5s ease-in-out;
}

.switch:hover {
    cursor: pointer;
}

.circleMove {
    transform: translateX(30px);
}

.unmoved {
    transform: translateX(0px);
}

#selected {
    height: 2px;
    width: 3.5rem;
    background-color: var(--color);
    position: absolute;
    bottom: 30%;
    right: 11.5%;
}

.big {
    font-size: 2.3rem;
}

.medium {
    font-size: 1rem;
}

.main {
    position: absolute;
    top: 10%;
    margin: 0 2%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message {
    width: 50%;
    height: 80%;
    display:flex;
    align-items: center;
}

form {
    width: 40%;
    height: 80%;
    box-sizing: border-box;
    align-items: center;
}

.name {
    display: flex;
    flex-direction: column;
}

span {
    font-size: 0.75rem;
    color: red;
}

label {
    font-size: 0.75rem;
    display: block;
    margin: 0;
    padding: 0;
    color: var(--color);
}

input {
    background-color: var(--background-color);
    display:block;
    border-radius: 40px;
    font-size: 0.5rem;
    width: 100%;
    border: 2px solid var(--color);
    box-sizing: border-box;
    padding: 2px;
    padding-left: 2%;
    font-family: 'Inria Serif', 'Times New Roman', Times, serif;
    font-weight: bold;
    color: var(--color);
}

.last {
    margin-bottom: 2%;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid var(--color);
    border-radius: 20px;
    font-family: 'Inria Serif', 'Times New Roman', Times, serif;
    font-size: 0.5rem;
    padding: 2%;
    resize: vertical;
    height: 25%;
    background-color: var(--background-color);
    color: var(--color);
}

button {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 12px 50px;
    font-family: 'Inria Serif', 'Times New Roman', Times, serif;
    font-size: 0.5rem;
    font-weight: bold;
    color: var(--color);
    background-color: var(--background-color);
    border-radius: 40px;
    border: 2px solid var(--color);
}

@media screen and (max-width: 768px) {
    html {
        font-size: 25px;
    }

    header {
        height: 10%;
        
    }

    .hero {
        height: 90%;
        background-size: 300%;
    }

    .hero-text h1 {
        font-size: 2.5rem;
    }

    .nav {
        width: 40%;
    }

    .switch {
        width: 50px;
        height:  25px;
    }

    .circleMove {
        transform: translateX(25px);
    }

    #selected {
        right: 10.5%;
    }

    .main {
        flex-direction: column;
    }

    .message {
        width: 100%;
        height: 30%;
    }

    .big {
        font-size: 1.75rem;
    }

    form {
        width: 100%;
    }

    .name {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .half-name {
        width: 48%;
    }

    label {
        margin-bottom: 2.5%;

    }

    input {
        height: 1.5rem;
        font-size: .75rem;
    }

    textarea {
        margin-top: 1.5%;
        height:  7.5rem;
        font-size: .75rem;
    }

    button {
        margin-top: 2%;
        width: 25%;
        font-size: .75rem;
    }
}

@media screen and (max-width: 425px) {
    body {
        width: 100%;
    }

    html {
        font-size: 20px;
    }

    header {
        height: 10%;
    }

    i {
        display: none;
    }

    .nav {
        width: 60%;
        height: 37.5%;
        align-items: end;
    }

    .switch {
        width: 30px;
        height: 15px;
    }

    #selected {
        right: 19.5%;
    }

    .circleMove {
        transform: translateX(14px);
    }

    button {
        display: block;
        text-align: center;
        padding: 10px;
    }
}